<?php return array (
  'app_timezone' => '{{app_app_timezone}}',
  'app_locale' => '{{app_app_locale}}',
  'app_incident_days' => '7',
  'date_format' => 'l jS F Y',
  'incident_date_format' => 'l jS F Y H:i:s',
  'automatic_localization' => '0',
  'app_about' => '{{app_app_about}}',
  'enable_subscribers' => '1',
  'display_graphs' => '0',
  'app_name' => '{{app_app_name}}',
  'app_domain' => '{{app_app_url}}',
  'show_support' => '{{app_show_support}}',
);
