{% if nginx_proxy_cache_path is defined and nginx_proxy_cache_path %}
proxy_cache_path {{ nginx_proxy_cache_path }};

{% endif %}
server {
    listen 80;
    listen [::]:80;
{% if options.ssl and certificate.stat.exists %}
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
{% endif %}

    server_name {{ domains |join(' ') }};

    root {{ options.root |default('/var/www/' ~ vhost ~ '/www/') }};

    access_log /var/log/nginx/{{vhost}}_access.log;
    error_log  /var/log/nginx/{{vhost}}_error.log;

    if ($host != $server_name) {
{% if options.ssl and certificate.stat.exists %}
        return 301 https://$server_name$request_uri;
{% else %}
        return 301 http://$server_name$request_uri;
{% endif %}
    }

{% if options.ssl == 'force' and certificate.stat.exists %}
    if ($scheme != 'https') {
        return 301 https://$server_name$request_uri;
    }
    add_header Strict-Transport-Security "max-age=63072000";

{% endif %}
{% if options.ssl %}
    include snippets/acmetool.conf;

{% endif %}
{% if options.ssl and certificate.stat.exists %}
    ssl_certificate     /var/lib/acme/live/{{domains |first}}/fullchain;
    ssl_certificate_key /var/lib/acme/live/{{domains |first}}/privkey;

{% endif %}
{% if options.backend == 'php-fpm' %}
	index index.php index.html;

    # Pass PHP scripts to FastCGI server.
    location ~ \.php$ {
       include snippets/fastcgi-php.conf;
       fastcgi_pass unix:/var/run/php/php7.0-fpm-{{vhost}}.sock;
    }

{% endif %}
    include snippets/location-deny.conf;

{%if options.extra_headers is defined %}
{% for header in options.extra_headers %}
    add_header {{header.header}} "{{header.value}}";
{% endfor %}

{% endif %}
{% if options.awstats is defined and options.awstats %}
    location /awstats-icon {
        alias /usr/share/awstats/icon/;
    }
    location /awstats {
        alias /var/cache/awstats/{{vhost}}/;
        autoindex on;
        auth_basic  "Statistiques web";
        auth_basic_user_file /etc/nginx/{{vhost}}.htpasswd;
    }

{% endif %}
{% if options.http_auth is defined and options.http_auth %}
    location / {
        auth_basic  "Authentication required";
        auth_basic_user_file /etc/nginx/{{vhost}}.htpasswd;
    }

{% endif %}
{{ options.include_conf |default('') }}
}
