{% if hostvars[item].icinga2_parent != ansible_hostname %}
object Endpoint "{{hostvars[item].ansible_fqdn}}" {
  host = "{{hostvars[item].ansible_all_ipv4_addresses |ipaddr('10.0.0.0/24') |first}}" //the satellite actively tries to connect to the client
}

object Zone "{{hostvars[item].ansible_fqdn}}" {
  endpoints = [ "{{hostvars[item].ansible_fqdn}}" ]
  parent = "{{hostvars[hostvars[item].icinga2_parent].ansible_fqdn}}"
}

{% endif %}
object Host "{{hostvars[item].ansible_fqdn}}" {
    display_name = "{{hostvars[item].ansible_hostname}}"
    check_command = "hostalive"
{% if hostvars[item].icinga2_parent != ansible_hostname %}
    address = "{{hostvars[item].ansible_all_ipv4_addresses |ipaddr('10.0.0.0/24') |first}}"
{% if hostvars[item].ansible_default_ipv4.address is defined %}
    vars.ping4_address = "{{hostvars[item].ansible_default_ipv4.address}}"
{% endif %}
{% if hostvars[item].ansible_default_ipv6.address is defined %}
    vars.ping6_address = "{{hostvars[item].ansible_default_ipv6.address}}"
{% endif %}
{% else %}
    address = "{{hostvars[item].ansible_default_ipv4.address}}"
{% if hostvars[item].ansible_default_ipv6.address is defined %}
    address6 = "{{hostvars[item].ansible_default_ipv6.address}}"
{% endif %}
{% endif %}
    vars.client_endpoint = name
    groups += ["{{hostvars[item].group_names |join('", "')}}"]
{% if item == ansible_hostname %}
    vars.icinga2_role = "master"
{% endif %}
{% if hostvars[item].hosted_by is defined %}
    vars.hosted_by = "{{hostvars[item].hosted_by}}"
{% endif %}
    vars.virtualization_role = "{{hostvars[item].ansible_virtualization_role}}"
    vars.virtualization_type = "{{hostvars[item].ansible_virtualization_type}}"

    // Used to force a service check execution from the master. Should be a
    // global variable, not specific to the host.
    vars.master_zone = "{{ansible_fqdn}}"

    vars.notification["mail"] = {
        groups = [ "admins" ]
    }

    vars.notification["xmpp"] = {
        groups = [ "admins" ]
    }

    // Custom host vars
    vars.ntp_address = "{{hostvars[item].ntp_server|default('ntp1.cmc.ec.gc.ca')}}"
{% if hostvars[item].ansible_memory_mb.swap.total == 0 or hostvars[item].ansible_virtualization_type == 'lxc-libvirt' or hostvars[item].ansible_virtualization_type == 'lxc' %}

    vars.has_swap = "false"
{% endif %}
{% if hostvars[item].ansible_virtualization_role == "host" %}

    vars.devices = ["{{hostvars[item].ansible_devices |join('", "')}}"]
{% endif %}
{% if hostvars[item].ansible_virtualization_role == 'host' %}
    vars.procs_warning = 800
    vars.procs_critical = 900
{% elif hostvars[item].ansible_virtualization_role == 'guest' and (hostvars[item].ansible_virtualization_type == 'lxc-libvirt' or hostvars[item].ansible_virtualization_type == 'lxc') %}
    vars.procs_warning = 80
    vars.procs_critical = 140
{% else %}
    vars.procs_warning = 400
    vars.procs_critical = 800
{% endif %}

    vars.disk_wfree = "20%"
    vars.disk_cfree = "5%"
    vars.disk_inode_wfree = "20%"
    vars.disk_inode_cfree = "5%"
  
    // Select all mount points but /run/* and /var/lib/docker/overlay2/*
    vars.disk_ereg_path = ".*"
    vars.disk_ignore_ereg_path = "^(/run/|/var/lib/docker/overlay2/)"
{% if 'databases' in hostvars[item].group_names %}

    vars.db_type = "{{hostvars[item].db_type}}"
{% endif %}
{% if 'nameservers' in hostvars[item].group_names %}

    vars.knot_zones = ["{{hostvars[item].knot_zones |join('", "', attribute='name')}}"]
{% endif %}
{% if hostvars[item].icinga2_monitored_sites is defined %}

{% for site in hostvars[item].icinga2_monitored_sites %}
    vars.web_sites["{{site.name}}"] = {
{% for key, value in site.items() |sort %}
{% if key != 'name' %}
{% if value |type_debug == 'bool' %}
        {{key}} = {{value |lower}},
{% else %}
        {{key}} = "{{value}}",
{% endif %}
{% endif %}
{% endfor %}
    }
{% endfor %}
{% endif %}
{% if hostvars[item].icinga2_vars is defined %}

{% for key,value in hostvars[item].icinga2_vars.items() %}
    vars.{{key}} = {{value}}
{% endfor %}
{% endif %}
}
