// Define endpoints.

{% for host in groups['all'] |sort %}
{% if hostvars[host].icinga2_parent == ansible_hostname %}
object Endpoint "{{hostvars[host].ansible_fqdn}}" {
  host = "{{hostvars[host].ansible_default_ipv4.address |default(hostvars[host].ansible_all_ipv4_addresses |first)}}"
}
{% endif %}
{% endfor %}

// Define zones.

object Zone "global-templates" {
  global = true
}

{% for host in groups['all'] |sort %}
{% if hostvars[host].icinga2_parent == ansible_hostname %}
object Zone "{{hostvars[host].ansible_fqdn}}" {
  endpoints = [ "{{hostvars[host].ansible_fqdn}}" ]
{% if host != ansible_hostname %}
  parent = "{{hostvars[hostvars[host].icinga2_parent].ansible_fqdn}}"
{% endif %}
}
{% endif %}
{% endfor %}
